<h1>Edit Owner</h1>

<%= form_for(@owner) do |f| %>
  <div class = "field">
    <%= label_tag :password, "Re-enter your password: " %>
    <%= f.password_field :password %>
  </div>

  <div class = "field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class = "field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>



  <div class = "actions">
    <%= f.submit %>
  </div>
<% end %>
