<h1>Your Reservations</h1>

<% @reservations.each do | reservation | %>
<% restaurant = Restaurant.find(reservation.restaurant_id) %>
<p><strong>Restaurant Name: </strong><%= restaurant.name %></p>
<p><strong>Restaurant Address: </strong><%= restaurant.address %></p>
<p><strong>Restaurant Phone Number: </strong><%= restaurant.phone_number %></p>
<p><strong>Your Reservation Is Under Name: </strong><%= reservation.name %></p>
<p><strong>For <%= reservation.number %> people</strong></p>
<p><strong>At <%= reservation.time %></strong></p>

<%= link_to "Delete Reservation", restaurant_reservation_path(restaurant, reservation), :method => :delete %>
| <%= link_to "Edit Reservation", edit_restaurant_reservation_path(restaurant, reservation) %>

<% end %>
