<h3>Reviews:</h3>

<% @restaurant.reviews.each do |review| %>
  <p>
    <ul>
      <p><%= review.comment %></p>
        <% if review.user != nil %>
          <li>
            <%= review.user.username %> gave <%= review.restaurant.name %>
            <%= review.rating %> Stars. Review created at <%= review.created_at %>
          </li>
          <%= link_to "Delete Review", restaurant_review_url(@restaurant, :id), method: :delete, data: {confirm: "Are you sure you would like to delete this product from Rainforest?"} %>
      <% end %>

    </ul>
  </p>
<% end %>
