
<%= form_for @restaurant do |f| %>

  <% if @restaurant.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
        <ul>
          <% @user.errors.full_message.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <div class="field">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>

    <div class="field">
      <%= f.label :picture %>
      <%= f.text_field :picture %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :opening_time %>
      <%= f.text_field :opening_time %>
    </div>

    <div class="field">
      <%= f.label :closing_time %>
      <%= f.text_field :closing_time %>
    </div>

    <div class="field">
      <%= f.label :capacity %>
      <%= f.text_field :capacity %>
    </div>

    <div class="field">
        <% @categories.each do |category| %>
        <%= f.radio_button(:category_id, category.id) %>
      <%= f.label :category_id, category.name, :value => category.id %>
      <% end %>
    </div>

    <div class="action">
      <%= f.submit %>
    </div>

<% end %>
