<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Restaurants</title>
</head>
<body id="top">

  <h1>Restaurant List</h1>

<div class="search">
  <%= form_tag(restaurants_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

  <div class="restaurant-wrap">
    <% if params[:search] && @restaurants.empty? %>
      Nothing matched your search terms.
      <%= render "restaurant" %>
    <% else %>
       <%= render "restaurant" %>
    <% end %>
  </div>
  <a href="#top">Back to top</a>

</body>
</html>
