<h1>Resturant List</h1>



<%= form_tag(restaurants_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Restaurant" %>
  <%= submit_tag "Search" %>
<% end %>


  <% if params[:search] %>
    <%= render "restaurant" %>
  <% else %>
    <%= render "restaurant" %>
  <% end %>
