<h1>Restaurant Homepage</h1>

<p>
  <%= @restaurant.name %>
</p>
<p>
  <%= @restaurant.address %>
</p>
<p>
  <%= @restaurant.phone_number %>
</p>
<p>
  <%= image_tag(@restaurant.picture) %>
</p>
<p>
  <%= @restaurant.description %>
</p>
<p>
  <%= @restaurant.opening_time %> - <%= @restaurant.closing_time %>
</p>
<p>
  <%= @restaurant.capacity %>
</p>

<<<<<<< HEAD
<%= form_for([@restaurant, @reservation]) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> Reservation is unavailable</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class = "field">
    <%= f.label :numer %>
    <%= f.number_field :number %>
  </div>

  <div class = "field">
    <%= f.label :time %>
    <%= f.datetime_local_field :time %>
  </div>

  <div class = "actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "Edit Your Restaurant Listing", edit_restaurant_path %>
<%= link_to "Back to Restaurant Listings", restaurants_path %>
</p>
