<h1>Restaurant Homepage</h1>
<p>Please <%= link_to "Log in", new_session_path %> or <%= link_to "Sign Up", new_user_path %> to make reservations.</p>

<p><%= @restaurant.name %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= image_tag(@restaurant.picture) %></p>
<p><%= @restaurant.description %></p>
<p><%= @restaurant.opening_time %> - <%= @restaurant.closing_time %></p>
<p><%= @restaurant.capacity %></p>

<%= render "reservation" %>

<%= render "current_user_comments" %>


<% if current_user %>
  <%= render "form_review" %>
<% else %>

<p>Only users can add reservations. Please <%= link_to "Log in", new_session_path %> to make a new reservation.</p>
<% end %>


  <% if current_user %>
   <h4>New Reservation</h4>

   <%= form_for([@restaurant, @reservation]) do |f| %>
     <% if @reservation.errors.any? %>
       <div id="error_explanation">
         <h2><%= pluralize(@reservation.errors.count, "error") %> You are unable to make reservations unless you are logged in:</h2>

         <ul>
         <% @reservation.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
         </ul>
       </div>

  <% else %>
   <p>Please <%= link_to "Log in", new_session_path %> to make a new reservation.</p>
  <% end %>
<% end %>

<p><%= link_to "Edit Your Restaurant Listing", edit_restaurant_path %></p>
<p><%= link_to "Back to Restaurant Listings", restaurants_path %></p>
