
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @restaurant.name %></title>
  <%= stylesheet_link_tag "restaurant_page.css" %></head>
<body>
  <h1><%= @restaurant.name %></h1>

  <% if !current_owner && !current_user %>
    <p>Please <%= link_to "Log in", new_session_path %> or <%= link_to "Sign Up", new_user_path %>
      to make reservations.</p>
  <% end %>
<div class="info">

  <p><%= image_tag(@restaurant.picture) %></p>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.description %></p>
  <p><%= @restaurant.convert_time(@restaurant.opening_time) %> - <%= @restaurant.convert_time(@restaurant.closing_time) %></p>

    <% if @restaurant.category != nil %>
      <p><%= @restaurant.category.name %></p>
    <% else %>
    <% end %>

  <p><%= @restaurant.capacity %></p>
  <% if current_user %>
    <h3>Make Reservation:</h3>

    <%= render "reservation" %>

    <%= render "current_user_comments" %>
  <% end %>


  <% if current_user %>
    <h3>Add a New Review:</h3>

    <%= render "form_review" %>
  <% else %>
    <p>Only users can add reviews. Please <%= link_to "Log in", new_session_path %> to leave a review.</p>
  <% end %>
</div>


    <!-- <% if current_user %>
     <h4>New Reservation</h4>

     <%= form_for([@restaurant, @reservation]) do |f| %>
       <% if @reservation.errors.any? %>
         <div id="error_explanation">
           <h2><%= pluralize(@reservation.errors.count, "error") %>
             You are unable to make reservations unless you are logged in:</h2>

           <ul>
           <% @reservation.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
           <% end %>
           </ul>
         </div>

      <% else %>
        <p>Please <%= link_to "Log In", new_session_path %> to make a new reservation.</p>
      <% end %>
    <% end %> -->

  <% unless current_owner == @restaurant.owner_id %>
    <p><%= link_to "Edit Your Restaurant Listing", edit_restaurant_path %></p>
    <p><%= link_to "Back to Restaurant Listings", restaurants_path %></p>
  <% else %>
    <p><%= link_to "Back to Restaurant Listings", restaurants_path %></p>
  <% end %>
  <% end %>


</body>
</html>
