<!DOCTYPE html>
<html>
<head>
  <title>Seat Yourself Down, Please</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->

</head>
<body>
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to image_tag('http://s18.postimg.org/6tmaxu50l/sydp_logo.png'), root_path %>
    <nav>
      <ul>
        <li><%= link_to "Log In", new_session_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
        <li><%= link_to "Log Out", session_path("current"), :method => :delete %></li>
      <ul>
  </div>
</header>
<div class="container">



<%= yield %>

</p>
</body>
</html>
