<!DOCTYPE html>
<html>
<head>
  <title>Seat Yourself Down, Please</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->

</head>
<body>
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to image_tag('http://s18.postimg.org/6tmaxu50l/sydp_logo.png'), root_path %>
    <nav>
    <% if current_owner %>
    <ul>
      <li><%= link_to "Create New Resturant Page", new_restaurant_path %></li>
      <li><%= link_to "View Your Current Resturants", restaurants_path %></li>
      <li><%= link_to "Edit Your Profile", edit_owner_path(current_owner) %></li>
      <li><%= link_to "Log Out", session_path("current"), :method => :delete %></li>
      <li><a href="mailto:admin@seatyourselfplease.ca?subject=Query"> Message us</a></li>
    </ul>
    <% elsif current_user %>
    <ul>
      <li><%= link_to "View Resturants", restaurants_path %></li>
      <li><%= link_to "Edit Your Profile", edit_user_path(current_user) %></li>
      <li><%= link_to "Search", restaurants_path %></li>
      <li><%= link_to "Log Out", session_path("current"), :method => :delete %></li>
      <li><a href="mailto:admin@seatyourselfplease.ca?">"Contact us"</a></li>
    </ul>
    <% else %>
    <ul>
      <li><%= link_to "View Resturants", restaurants_path %></li>
      <li><%= link_to "Log In", new_session_path %></li>
      <li><%= link_to "Sign Up", new_user_path %></li>
      <li><%= link_to "Log Out", session_path("current"), :method => :delete %></li>
      <li><a href="mailto:admin@seatyourselfplease.ca?">"Contact us"</a></li>
    <ul>
    <% end %>
</div>
</header>
<div class="container">




<%= yield %>

</p>
</body>
</html>
